/* Projects Section */

#projects{
    color: var(--main-text);
    padding-top: 15%; 
}

.project{
    display: flex;
    align-items: center;
}

.project-content{
    background-color: var(--light-container);
    border-radius: 15px;
    width: 75%;
    padding: 20px;
}

.project-title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-title{
    font-family: var(--header-text-font-family);
    color: var(--highlight);
    font-size: 1.5em;
}

.project-desc{
    color: var(--main-text);
}


.project-tag-list{
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
}

.project-tag-list li{
    padding-right: 20px;    
    color: var(--highlight);
}

.responsive-project-image{
    display: none;
}

.project-image{
    width: auto;
    height: auto;
    margin-left: -15%;
    z-index: -1;
}

.project-image img{
    border: 2px solid var(--light-container);
}

/* Media Queries */

@media (max-width: 930px){
    .project-tag-list{
        justify-content: space-evenly;
        padding: 0;
    }
    .project-image{
        display: none;
    }
    .responsive-project-image{
        display: block;
        border: 2px solid var(--light-container);
        margin-bottom: 20px;
    }
    .project-content{
        width: 100%;
    }
}